header{
    height: 100vh;
    max-height: 100vh;
    overflow: hidden;

    .perspective{
        position: relative;
        height: 100vh;
        transition: 0.3s;
        transform-style: preserve-3d;

        &::before{
            background-image: url('../../public/images/cube.jpg');
            background-size: cover;
            background-repeat: no-repeat;
            position: absolute;
            z-index: 1;
            width: 100%;
            height: 100%;
            content: " ";
            pointer-events: none;
            transition: 2s;
            filter: opacity(0.3) grayscale(1) blur(5px) !important;
        }

        &::after{
            background-image: url('../../public/images/noise.gif');
            position: absolute;
            z-index: 1;
            width: 100%;
            height: 100%;
            opacity: 0.04;
            content: " ";
            pointer-events: none;
        }
        
        .header-text{
            position: relative;
            z-index: 2;
            transition: 1s;
            font-size: $font-1;
            white-space: nowrap;
            *{
                font-size: $font-1
            }
            .different-text{
                color: $primary-color;
                background-color: $secundary-color;
            }
        }
    }
}

