nav{
    position: relative !important;
    z-index: 2;
    
    ol{
        transform: translate(100vw);
        transition: 1s;
        list-style: none;
    
        li{
            a{
                pointer-events: all;
                font-weight: bold;
                &:hover{
                    color: $primary-color;
                    cursor: pointer;
                    background-color: $secundary-color;
                }
            }
        }
    }
    
}