nav{
    position: absolute !important;
    z-index: 2;

    .hamburguer-container, .times-container{
        position: fixed;
        width: 30px;
        right: 100px;
        top: 50px;
        z-index: 3;
        transition: 2s;
        --icon-hover: 1;
    }

    .times-container{
        animation-name: initial_right;
        animation-duration: 0s;
        animation-fill-mode: forwards;
        --icon-hover: 0;
    }

    ol{
        li{
            list-style: none;
            a{
                pointer-events: all;
                font-weight: bold;
                &:hover{
                    color: $primary-color;
                    cursor: pointer;
                    background-color: $terceary-color;
                }
            }
        }
    }
}