.services{
    position: relative;
    
    > div{
        padding: $block-padding;

    > div{
        padding: 0 30px;
    }

        h1{
            font-size: $font-1;
        }
        
        h4{
            font-size: $font-4;
            letter-spacing: 5px;
            font-weight: bold;
        }


        ul{
            padding-left: 20px;
            li{
                font-weight: 500;
                font-size: $font-5;
            }
        }
        
    }
    > img{
            position: absolute;
            top: 0;
            pointer-events: none;
        }
}