.footer{
    padding: $block-padding;

    h1{
        font-size: $font-1;
        font-weight: bold;
    }

    > div{
        a{
            padding: 0 5px;
            &:hover{
                color: $light-primary-color;
            }
            svg{
                width: 40px;
            }
        }  
    }

    ul{
        padding-top: 30px;
        li{
            padding: 0;
            font-weight: 600;
            font-size: $font-4;
            list-style: none;
            address{
                a{
                    text-decoration: underline;
                    &:hover{
                        color: $light-primary-color;
                    }
                }
            }
        }
    }
}