.bio{
    color: $primary-color;
    padding: $block-padding;


    .title-container{
        align-self: flex-start;
    }

    .author{
        text-align: right;
    }

    u{
        text-decoration: none;
        border-bottom: 3px dotted $primary-color;
        font-weight: 600;
    }

    div{
        h1{
            font-size: 5rem;
            font-weight: 900;
            padding-right: 35%;
            position: relative;
            text-align: left;
        }

        p{
            font-size: 1.3rem;
        }

        h2{
            padding-left: 50px;
        }
    }
}