.index-sites{
    margin: 0;
    transition: .4s ease-in-out;
    padding: 0;

    figure{
        margin: 0;
        cursor: pointer;
        transition: 0.25s ease-in-out;
        background-color: $secundary-color;
        padding: 50px;

        &:hover{
            transform: scale(.90);
        }

        img{
            transition: 0.25s ease-in-out;
            background-color: $primary-color;
            &:hover{
                transform: scale(1.35)
            }
        }
    }

    small{
        letter-spacing: 5px;
        font-weight: bold;
        cursor: pointer;

        &:hover span{
            margin-left: 20px;
            width: 30px;
        }

        a{
            text-decoration: none;

            span{
                transition: .4s ease-in-out;
                width: 15px;
                height: 1px;
                float: left;
                background: #0e0e0e;
            }

            b{
                margin-left: 20px;
            }
        }

        
    }

    > div{
        padding: 60px;
    }

    h1{
        font-size: $font-1;
    }
}