$primary-color: #0c0c0c;
$secundary-color: white;

$light-primary-color: #555555;
$light-secundary-color: #cacaca;

$low-opacity-primary-color: rgba(12, 12, 12, 0.205);
$medium-opacity-primary-color: rgba(12, 12, 12, 0.6);

$font-1: clamp(2rem, 5vw, 5rem);
$font-4: clamp(1rem, 1.3vw, 2rem);
$font-5: clamp(0.8rem, 1.5vw, 1.3rem);

$block-padding: 80px 0;
$mobile-block-padding: 50px 0 50px 0;
$mobile-padding: 0 50px 0 50px;

$fa-font-path: "scss/fontawesome/webfonts";

@mixin flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

@mixin text-shadow-6px {
    text-shadow: 6px 4px 5px $primary-color;
}

@mixin secundary-color-hover {
    &:hover{
        color: $light-secundary-color;
    }
}

@mixin terceary-color-hover {
    &:hover{
        color: $light-terceary-color;
    }
}

